name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run simple command
        run: echo "CI Running"

      - name: Create artifact file
        run: |
          echo "Pipeline executed at $(date)" > ci-log.txt
          echo "Commit: $GITHUB_SHA" >> ci-log.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci-log
          path: ci-log.txt
