name: Close Stale Issues

on:
  schedule:
    - cron: "0 0 * * *"   # Runs daily at midnight UTC
    workflow_dispatch: #  Manual trigger

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue has been marked stale due to inactivity."
          close-issue-message: "Closing this issue as it has been inactive for too long."
          days-before-stale: 1
          days-before-close: 2
